.checkboxWrapper__enum {
  margin-right: 10px;
}

.toggleWrapper {
  display: flex;
  flex-direction: column;
}

.checkboxWrapper__toggle {
  position: relative;
  justify-content: space-around;
  align-items: center;
  // display: inline-block;

  input {
    width: 0;
    height: 0;

    opacity: 0;
  }

  input:checked {
    & + .slider {
      background-color: #2196f3;
    }

    & + .slider::before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }
  }
}

.slider {
  position: absolute;
  left: 0;
  width: 33px;
  height: 17px;
  background-color: #cccccc;

  border-radius: 15px;
  cursor: pointer;

  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 2px;

    width: 15px;
    height: 15px;

    background-color: white;
    border-radius: 50%;

    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
