.visibilityButton {
  border: 1px solid transparent;
  width: 75px;
  cursor: pointer;

  &:hover {
    border: 1px solid grey;
  }
}

.checkboxWrapper {
  padding: 3px 0;

  text-align: center;

  user-select: none;

  &:hover {
    background-color: rgb(224, 224, 224);
  }

  label {
    padding: 0 10px;
  }

  input,
  label {
    cursor: pointer;
  }
}
