.visibilityButton {
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid grey;
  }
}

.checkboxWrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 3px 0;
  overflow: hidden;

  cursor: pointer;

  user-select: none;

  &:hover {
    background-color: rgb(224, 224, 224);
  }

  input {
    margin-right: 8px;

    cursor: pointer;
  }
}
