.content__raw {
  background-color: rgb(238, 237, 237);

  &:hover {
    background-color: rgb(216, 215, 215);

    .content__col {
      &:nth-child(1) {
        background-color: rgb(216, 215, 215);
      }
    }
  }

  .content__col {
    padding: 3px 5px;

    &:nth-child(7) {
      text-align: center;
    }

    &:nth-child(1) {
      position: sticky;
      left: 0;
      z-index: 2;

      text-align: initial;

      background-color: rgb(238, 237, 237);
    }
  }
}
