.header__raw {
  position: sticky;
  top: 72px;
  z-index: 4;

  display: flex;
  flex-wrap: nowrap;
  width: calc(100% - 40px);

  background-color: rgb(216, 215, 215);

  .header__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3px 10px 10px;

    white-space: nowrap;

    .headerColContentWrapper {
      width: 100%;

      text-align: end;
    }

    &:nth-child(1) {
      position: sticky;
      left: 0;
      z-index: 8;

      width: 50px;

      text-align: start;
    }

    &:nth-child(2) {
      width: 114px;
    }

    &:nth-child(3) {
      width: 110px;
    }

    &:nth-child(4) {
      width: 88px;
    }

    &:nth-child(5) {
      width: 104px;
    }

    &:nth-child(6) {
      width: 142px;
    }

    &:nth-child(7) {
      width: 98px;

      // text-align: center;
    }
  }

  .EnumfilterButton {
    display: block;
  }
}
