.App {
  display: flex;
  flex-direction: column;
  width: 846px;
  margin: 0 auto;
  padding: 0;
}

.loading {
  margin-top: 100px;

  text-align: center;
}

.hidden {
  display: none !important;
}

label {
  user-select: none;
}
