.App {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.loading {
  margin-top: 100px;

  text-align: center;
}

.hidden {
  display: none;
}

label {
  user-select: none;
}
